<section
  class="relative min-h-[50vh] pt-32 sm:pt-40 pb-12 sm:pb-20 flex flex-col items-center justify-center content-center"
  aria-label="Hero card section"
  role="region">
  <div class="">
    <img
      [src]="background()"
      alt=""
      class="absolute inset-0 w-full h-full object-cover"
      loading="eager"
      fetchpriority="high"
      aria-hidden="true" />
    <div class="absolute inset-0 bg-grid" [ngClass]="overlayColor()" aria-hidden="true"></div>
    <div
      class="px-8 relative z-10 sm:px-6 lg:px-12 xl:px-20 2xl:px-32 max-w-screen-2xl mx-auto flex flex-col items-center justify-center text-center">
      @if (badgeText() || badgeTextKey()) {
      <p
        class="inline-flex max-w-fit gap-2 px-4 lg:px-6 py-1.5 my-2 md:mb-3 rounded-full bg-neutral-300/20 backdrop-blur-[1px] border borber-neutral-400/20 hover:bg-neutral-300/30 mb-2 text-primary-50 text-base font-satoshi items-center">
        <i-lucide [name]="badgeIcon()" class="size-4" aria-hidden="true"></i-lucide>
        @if (badgeTextKey()) { {{ badgeTextKey() | translate }} } @else { {{ badgeText() }} }
      </p>
      }
      <h1
        class="font-satoshi font-black text-white flex flex-wrap items-center gap-2 text-left text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl mb-6 leading-tight"
        [@fadeInOut]>
        @if (titleKey()) { {{ titleKey() | translate }} } @else { {{ title() }} } @if (highlight() || highlightKey()) {
        <span class="text-primary-400">
          @if (highlightKey()) { {{ highlightKey() | translate }} } @else { {{ highlight() }} }
        </span>
        }
      </h1>

      @if (description() || descriptionKey()) {
      <p class="text-base md:text-md text-white max-w-2xl font-satoshi hyphens-none">
        @if (descriptionKey()) { {{ descriptionKey() | translate }} } @else { {{ description() }} }
      </p>
      }
    </div>
  </div>
</section>
