<section class="min-h-fit bg-gray-50 bg-grid items-center content-center" appAnimationsOnScroll>
  <div class="py-12 lg:py-20 px-8 lg:px-16 xl:px-24 2xl:px-32 max-w-screen-2xl mx-auto">
    <app-landing-section-header
      badgeKey="programs.badge"
      titleKey="programs.title"
      titleHighlightKey="programs.title_highlight"
      descriptionKey="programs.description" />
    <div class="grid grid-cols-1 md:grid-cols-3 xl:grid-cols-5 gap-6 lg:gap-6 mt-14 lg:mt-20">
      @for (p of store.programs(); track p.id) {
      <div
        class="relative group flex flex-col bg-white hover:scale-[1.02] px-6 py-8 pt-16 hover:shadow-xl transition-all duration-300 border border-gray-100 hover:border-primary-300 rounded-lg overflow-visible">
        <div
          class="absolute -top-12 left-1/2 -translate-x-1/2 flex items-center justify-center w-20 h-20 bg-white border-4 border-primary-400 rounded-full shadow-xl group-hover:shadow-2xl group-hover:-translate-y-2 transition-all duration-300 overflow-hidden">
          <div class="p-4 w-full h-full flex items-center justify-center">
            @if (p.logo && (p | apiIMG: 'program')) {
            <img
              [ngSrc]="p | apiIMG: 'program'"
              [alt]="'Logo du programme ' + p.name"
              [title]="p.name"
              class="object-contain w-full h-full group-hover:scale-110 transition-transform duration-300"
              loading="lazy"
              fill />
            } @else {
            <span class="text-2xl font-bold text-primary-600">{{ p.name.charAt(0) }}</span>
            }
          </div>
        </div>

        <div class="flex flex-1 flex-col text-center min-h-0 gap-3">
          <div class="space-y-2 sm:space-y-3">
            <h5 class="text-lg sm:text-xl font-bold text-gray-900 line-clamp-1 leading-tight font-satoshi">
              {{ p?.name }}
            </h5>
            <div class="w-12 h-0.5 bg-linear-to-r from-primary-400 to-primary-600 mx-auto rounded-full"></div>
          </div>

          <p class="text-sm leading-6 text-slate-600 sm:text-[15px] line-clamp-3">{{ p.description }}</p>
        </div>

        <div class="pt-2 md:pt-4 mx-auto shrink-0">
          <a [routerLink]="['/our-programs/', p.slug]">
            <ui-button variant="secondary" size="sm" [fullWidth]="true">
              <div class="flex items-center justify-center gap-2 group/btn px-2">
                <span class="text-sm font-medium">{{ 'programs.learn_more' | translate }}</span>
                <i-lucide
                  class="size-4 group-hover/btn:translate-x-1 transition-transform duration-300"
                  [name]="icons.MoveRight" />
              </div>
            </ui-button>
          </a>
        </div>
      </div>
      }
    </div>
  </div>
</section>
