<section class="min-h-fit bg-gray-50">
  <div class="px-8 lg:px-16 xl:px-24 2xl:px-32 max-w-screen-2xl mx-auto py-12">
    <div class="mx-auto">
      <div class="flex justify-center items-center gap-3 mb-8">
        <div class="h-8 w-28 bg-gray-200 rounded-md animate-pulse"></div>
        <div class="h-8 w-20 bg-gray-200 rounded-md animate-pulse"></div>
        <div class="h-8 w-24 bg-gray-200 rounded-md animate-pulse"></div>
      </div>

      <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4 md:gap-6">
        @for (i of [1,2,3,4,5,6,7,8]; track i) {
        <div class="bg-white p-4 rounded-lg border border-gray-100 shadow-xs">
          <div class="flex items-center gap-4">
            <div class="shrink-0 h-14 w-14 rounded-md bg-gray-200 animate-pulse"></div>
            <div class="flex-1 min-w-0">
              <div class="h-4 bg-gray-200 rounded w-3/4 animate-pulse mb-2"></div>
              <div class="h-3 bg-gray-200 rounded w-1/2 animate-pulse"></div>
            </div>
          </div>
        </div>
        }
      </div>

      <div class="mt-8 flex justify-center">
        <div class="h-10 w-36 bg-gray-200 rounded-md animate-pulse"></div>
      </div>
    </div>
  </div>
</section>
